Language:                   Cpp
BasedOnStyle:               Google
# ColumnLimit:                120
ColumnLimit:                0
IndentWidth:                4
UseTab:                     Never
SortIncludes:               false
BreakBeforeBinaryOperators: true