.gitattributes
build/
builds/
projects/
*.suo

# Project files.
*.sln
*.VC.db


# Visual Studio.
.vs/

# Workspace.
config.mk
*.sublime-workspace

# Misc test files.
# src/experimental/*
tools/merge/tests/*
